<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">      
      <a href="#" class="navbar-brand">{{title}}</a> 
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/courses" routerLinkActive="active">Courses</a></li>
        <li><a routerLink="/teachers" routerLinkActive="active">Teachers</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>