<form novalidate (ngSubmit)="onSubmit($event)" [formGroup]="teacherForm">
    <div class="container">
        <h1> {{teacher.name}} {{teacher.last_name}} </h1>
        <div class="well">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" id="last_name" formControlName="last_name">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="teacher.invalid">Save</button>
            <a routerLink="/teachers">Back</a>
        </div>  
    </div>
</form>